@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);

body {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-image: url(../img/background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:link { 
	text-decoration: none;
    color: #0000AA;
}

a:visited { 
	text-decoration: none;
    color: #0000AA;
}

a:hover { 
    color: #0000EE;
}

input:focus { 
    color: #0000EE;
}

h1, h2, h3 {
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 300;
}

h1 {
	margin: 0px;
	font-size: 300%;
}
h2, h3 {
	color: #505050;
}

h2 {
	font-size: 150%;
	margin: 0px;
}

h3 {
	font-size: 125%;
}

main {
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
}

header {
	padding: 1em;
	color: #FFFFFF;
	background-color: #FA5A0F;
	border-bottom-style: solid;
	border-bottom-width: 5px;
    border-bottom-color: #EA4A00;
}
p.tag-line {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0px;
}

header, #information, #menu, #about, footer {
	padding: 1em;
}

#menu {
	background-color: rgb(207,205,140);
	opacity: 0.9;
}
dt {
	font-weight: 400;
}

dd {
	font-style: italic;
	font-size: 80%;
}

#about {
}

footer {
	text-decoration: none;
	background-color: #FC892F;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #EC791F;
	font-size: 80%;
	text-align: right;
}
/* 
your CSS rules and font imports should go here 
delete this comment, add the import directives for your fonts
and add the CSS rules as described in the challenge
*/
